*

!.gitignore
!README.md
!api-gateway/
!api-gateway/**
!currency-conversion-service/
!currency-conversion-service/**
!currency-exchange-service/
!currency-exchange-service/**
!naming-server/
!naming-server/**

**/target/
**/.idea/
**/.settings/
**/.classpath
**/.project
**/.factorypath

*.zip
*.log
*.iml
